@charset "UTF-8";

body{
    background-color: beige;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
   font-size: 20px;
}

h1{
 color: rgb(100, 30, 30); 
 background-color: rgb(192, 192, 202);  
}

h2{
    color: rgb(151, 219, 23);
}

p{
    text-align: justify;
}

